

.teacher-dashboard-stats {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 1023px) {
  .teacher-dashboard-stats {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 470px) {
  .teacher-dashboard-stats {
    grid-template-columns: repeat(1, auto);
  }
}

.spinner-mini {
  margin: 0;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--color-L6);
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
