@import 'tailwindcss';

.container {
  margin: 0 auto;
  padding: 0 16px;
  /* width: 600px; */
}

@theme {
  --color-main: #526d82;
  --color-alt: #dde6ed;
  --color-pinky-violet: #876a9a;
  --color-alt-darker: #8c94a3;
  --color-main-txt: #27374d;
  --color-alt-txt: #b9896c;
}
