@import 'tailwindcss';

.container {
  margin: 0 auto;
  padding: 0 15px;
  /* width: 600px; */
}

@theme {
  --color-main: #526d82;
  --color-alt: #dde6ed;
  --color-alt-darker: #939191;
  --color-main-txt: #27374d;
  --color-alt-txt: #b9896c;
}
